<div>
  <div *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown>
    <h2 id="page-heading">
      <span>Total Balance by date: </span>
    </h2>
  </div>
</div>

<div class="table-responsive table-entities" id="entities" *ngIf="totalCounterAmountByDate && totalCounterAmountByDate.length > 0">
  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <tr>
        <th scope="col">
          <div class="d-flex">
            <span>Date</span>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex">
            <span>Total Amount</span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tca of totalCounterAmountByDate">
        <td>{{ tca.date }}</td>
        <td>{{ tca.totalamount | currency:'INR'}}</td>
      </tr>
    </tbody>
  </table>
</div>
